@using Entity.Classes;
@using Auction.Code;
@{
    Layout = "~/Pages/Navigation/_Layout.cshtml";

    var code = new Logic();
    List<User> Users;
    var Roles = Enum.GetValues(typeof(Entity.Enums.Role)).Cast<Entity.Enums.Role>();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title></title>
</head>
<body class="bg-dark">
    @if (Logic.CurrentUser.Role.ToString().Equals("Admin"))
    {
        Users = code.Code.GetUsers().ToList();

        <div>
            <div>
                <h2 class="text-warning">Users:</h2>
            </div>
            @foreach (var item in Users)
            {
                if (item.Role != Entity.Enums.Role.Guest && item.Id != Logic.CurrentUser.Id)
                {
                    <form class="form badge btn-secondary my-1">

                        <h5 style="width:100px;">@item.Name</h5>

                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-danger">
                                <input type="radio" name="options" id="Delete" onclick="DeleteUser(@item.Id)" autocomplete="off">
                                Delete
                            </label>
                            @foreach (var roleItem in Roles)
                            {
                                if (roleItem != Entity.Enums.Role.Guest)
                                {
                                    if (item.Role == roleItem)
                                    {
                                        <label class="btn btn-secondary active">
                                            <input type="radio" name="options" onclick="ChangeUserRole('@item.Id', '@roleItem')" autocomplete="off" checked>
                                            @roleItem.ToString()
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="options" onclick="ChangeUserRole('@item.Id', '@roleItem')" autocomplete="off">
                                            @roleItem.ToString()
                                        </label>
                                    }
                                }
                            }
                        </div>
                    </form>
                }
            }
        </div>
    }
    else
    {
        <section class="jumbotron text-center">
            <div class="container">
                <h1>Error</h1>
                <p class="lead text-muted">
                    u cant
                </p>
                <p>
                    <a href="~/Pages/Index.cshtml" class="btn btn-info">Back</a>
                </p>
            </div>
        </section>
    }

    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Code/Action.js"></script>
</body>
</html>
