@using Auction.Code;
@{
    Layout = null;

    var code = new Logic();
    var Lots = code.Code.GetLots();
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title></title>
</head>
<body>


    <nav class="navbar navbar-expand-sm d-flex justify-content-between"
         style="height:80px; background: linear-gradient(0deg, rgba(65,92,190,1) 0%, rgba(62,13,73,1) 100%);">

        <a class="navbar-brand font-weight-bold" href="~/Pages/Index.cshtml">
            <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""
                 style="background-size:50px; width: 50px; height: 50px; 
                    background-image: url('https://cdn0.iconfinder.com/data/icons/market-and-economics-1-2/128/11-512.png');">
        </a>
            @if (Logic.CurrentUser.Role.ToString().Equals("Admin"))
            {
                <a href="~/Pages/User/List.cshtml" class="btn btn-sm btn-warning float-left">
                    Users
                </a>
            }

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" 
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            @if (Logic.CurrentUser.Role.ToString().Equals("Seller"))
            {
                <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#exampleModal">
                    Add lot
                </button>
                <a href="~/Pages/Index.cshtml?id=@Logic.CurrentUser.Id" class="btn btn-sm btn-dark">
                    View lots
                </a>
                <a href="~/Pages/Bet/View.cshtml" class="btn btn-sm btn-dark">
                    View Bets
                </a>
            }
            @if (Logic.CurrentUser.Role.ToString().Equals("Customer"))
            {
                <a href="~/Pages/Bet/View.cshtml" class="btn btn-sm btn-dark">
                    View Bets
                </a>
            }

        </div>

        <div class="form-inline my-2 my-lg-0">
            <div style="margin-right:25px" class="d-flex align-middle">
                <img style="height:50px; width:auto;" src="@code.GetUserIcon(Logic.CurrentUser.Role)" alt="@Logic.CurrentUser.Role.ToString()" />
                <h6 class="text-white">@Logic.CurrentUser.Name</h6>
            </div>
            @if (Logic.CurrentUser.Role.ToString().Equals("Guest"))
            {
                <a class="btn btn-sm btn-info" href="~/Pages/Autorisation/LogIn.cshtml">
                    Log in
                </a>
                <a class="btn btn-sm btn-danger" href="~/Pages/Autorisation/NewUser.cshtml">
                    Create account
                </a>
            }
            else
            {
                <a class="btn btn-sm btn-outline-light" href="~/Pages/Autorisation/Logout.cshtml">Sign out</a>
            }
        </div>
    </nav>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" onclose="alert('AAA')">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add lot</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @RenderPage("~/Pages/Lot/_AddLot.cshtml")
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>


    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Code/Action.js"></script>
</body>
</html>
