@using Entity;
@{
    Layout = "~/Pages/Layout.cshtml";

    #region for test
    var Users = new List<User>();
    Users.Add(new User() { Id = 0, Name = "A1", Password = "111", Role = Common.Role.Guest });
    Users.Add(new User() { Id = 1, Name = "B1", Password = "111", Role = Common.Role.Seller });
    Users.Add(new User() { Id = 2, Name = "C1", Password = "111", Role = Common.Role.Customer });
    Users.Add(new User() { Id = 3, Name = "D1", Password = "111", Role = Common.Role.Admin });
    Users.Add(new User() { Id = 4, Name = "B2", Password = "111", Role = Common.Role.Seller });
    Users.Add(new User() { Id = 5, Name = "B3", Password = "111", Role = Common.Role.Seller });

    var AllPhotos = new List<Photo>();
    AllPhotos.Add(new Photo() { Id = 0, Comment = "Bambolon", Path = "https://pbs.twimg.com/media/EPdDhmzX0AAZYyQ?format=jpg&name=small" });
    AllPhotos.Add(new Photo() { Id = 1, Comment = "Mountain", Path = "https://pbs.twimg.com/media/EO5OfAqWAAAt1bm?format=jpg&name=small" });
    AllPhotos.Add(new Photo() { Id = 2, Comment = "cyberded", Path = "https://pbs.twimg.com/media/EOxfpd7WkAEM-Et?format=jpg&name=small" });
    AllPhotos.Add(new Photo() { Id = 3, Comment = "kuvshinov_1", Path = "https://pbs.twimg.com/media/ERLIV-aX0AEUZ4L?format=jpg&name=small" });
    AllPhotos.Add(new Photo() { Id = 4, Comment = "kuvshinov_2", Path = "https://pbs.twimg.com/media/ERDpArMXYAAO2h_?format=jpg&name=small" });
    AllPhotos.Add(new Photo() { Id = 5, Comment = "kuvshinov_3", Path = "https://pbs.twimg.com/media/ERJYlqGVAAATEzU?format=jpg&name=small" });


    var Products = new List<Product>();
    Products.Add(new Product() { Id = 0, Company = "Bandai", Status = Common.Status.MediumDefects, Title = "Bambolon", Photos = new List<Photo>(){AllPhotos[0]}});
    Products.Add(new Product() { Id = 1, Company = "Conami", Status = Common.Status.New, Title = "Mountain", Photos = new List<Photo>() { AllPhotos[1] } });
    Products.Add(new Product() { Id = 2, Company = "Conami", Status = Common.Status.MediumDefects, Title = "cyberded", Photos = new List<Photo>() { AllPhotos[2] } });
    Products.Add(new Product() { Id = 3, Company = "Philips", Status = Common.Status.SmallDefects, Title = "KuvshonovArt", Photos = new List<Photo>() { AllPhotos[3], AllPhotos[4], AllPhotos[5] } });


    var Lots = new List<Lot>();
    Lots.Add(new Lot() { Id = 0, Price = 50, DateStart = DateTime.Parse("02.02.2020"), DateEnd = DateTime.Parse("05.05.2020"), Product = Products[0], Seller = Users[1]});
    Lots.Add(new Lot() { Id = 1, Price = 1000, DateStart = DateTime.Parse("03.02.2020"), DateEnd = DateTime.Parse("05.06.2020"), Product = Products[1], Seller = Users[1] });
    Lots.Add(new Lot() { Id = 2, Price = 800, DateStart = DateTime.Parse("01.02.2020"), DateEnd = DateTime.Parse("06.06.2020"), Product = Products[2], Seller = Users[5] });
    Lots.Add(new Lot() { Id = 3, Price = 5, DateStart = DateTime.Parse("10.02.2020"), DateEnd = DateTime.Parse("01.06.2020"), Product = Products[3], Seller = Users[4] });
    #endregion

    var name = Users[2];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    @if (name.Role.Equals(Common.Role.Guest))
    {
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Hello, @name.Name</h1>
            <p class="lead text-muted">
                blah blah blah
            </p>
            <p>
                <a href="#" class="btn btn-info">log in</a>
                <a href="#" class="btn btn-danger">Create new account</a>
            </p>
        </div>
    </section>
    }
    <div class="album py-5 bg-dark">
        <div class="container">
            <div class="row">
                @foreach (var item in Lots)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="bd-placeholder-img card-img-top"
                                 width="=100%" height="1" role="img">
                                <img src="@item.Product.Photos[0].Path"
                                     alt="@item.Product.Photos[0].Comment"
                                     style="width:100%; height:100%;" />
                            </svg>
                            <div class="card-body">
                                <p class="card-text">
                                    @item.Product.Title
                                </p>
                                <div class="d-flex justify-content-between align-items-center container">
                                    <p class="text-body">last price</p>
                                    <p class="text-success">@item.Price $</p>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        @if (name.Role.Equals(Common.Role.Admin))
                                        {
                                            <button class="btn btn-sm btn-outline-dark">View</button>
                                            <button class="btn btn-sm btn-outline-info">Edit</button>
                                            <button class="btn btn-sm btn-outline-danger">Close</button>
                                        }

                                        @if (name.Role.Equals(Common.Role.Guest))
                                        {
                                            <button class="btn btn-sm btn-outline-dark">View</button>
                                        }

                                        @if (name.Role.Equals(Common.Role.Seller))
                                        {
                                            <button class="btn btn-sm btn-outline-dark">View</button>
                                            <button class="btn btn-sm btn-outline-info">Edit</button>
                                        }

                                        @if (name.Role.Equals(Common.Role.Customer))
                                        {
                                            <button class="btn btn-sm btn-outline-dark">View</button>
                                            <button class="btn btn-sm btn-outline-success">Bet</button>
                                        }
                                    </div>

                                    <small class="text-muted">@item.DateEnd.ToString("dd.MM.yyyy")</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
