@using Auction.Code;
@{
    Layout = null;

    var code = new Logic();
    var Lots = code.Code.GetLots();
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <nav class="navbar navbar-dark bg-info d-flex justify-content-between">
        <a href="~/Pages/Index.cshtml"
           style="background-size:50px;
                background-image: url('https://cdn0.iconfinder.com/data/icons/market-and-economics-1-2/128/11-512.png');
                width: 50px; height: 50px;">
        </a>
        @if (Logic.CurrentUser.Role.ToString().Equals("Admin"))
        {
            <a href="~/Pages/User/List.cshtml" style="background-size:50px; width: 50px; height: 50px;
                    background-image: url('https://cdn2.iconfinder.com/data/icons/flat-icons-web/40/Userlist-512.png');">
            </a>
        }
        @if (Logic.CurrentUser.Role.ToString().Equals("Seller"))
        {
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
                Add lot
            </button>

            <a href="#"  class="btn btn-dark">
                View lots
            </a>
            <a href="#"  class="btn btn-dark">
                View Bets
            </a>
        }
        @if (Logic.CurrentUser.Role.ToString().Equals("Customer"))
        {
            <a href="#"  class="btn btn-dark">
                View Bets
            </a>
        }
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button style="background-size:50px; width: 50px; height: 50px; background-image: url('https://cdn2.iconfinder.com/data/icons/flat-icons-web/40/Search-512.png');"
                    type="submit" class="btn btn-info"></button>
        </form>

        <div class="form-inline my-2 my-lg-0 align-middle ">
            <div style="margin-right:25px" class="d-flex align-middle">
                <img style="height:50px; width:auto;"
                     src="@code.GetUserIcon(Logic.CurrentUser.Role)"
                     alt="@Logic.CurrentUser.Role.ToString()" />
                <h4 class="text-white text-align-center">@Logic.CurrentUser.Name</h4>
            </div>
            @if (Logic.CurrentUser.Role.ToString().Equals("Guest"))
            {
                <a class="btn btn-info" href="~/Pages/Autorisation/LogIn.cshtml">Log in</a>
                <a class="btn btn-danger" href="~/Pages/Autorisation/NewUser.cshtml">Create account</a>
            }
            else
            {
                <a class="btn btn-outline-dark" href="~/Pages/Autorisation/Logout.cshtml">Sign out</a>
            }
        </div>
    </nav>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" onclose="alert('AAA')">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add lot</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @RenderPage("~/Pages/Lot/_AddLot.cshtml")
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>


    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Code/Action.js"></script>
</body>
</html>
