@using Entity;
@using Auction.Code;
@{
    Layout = "~/Pages/_Layout.cshtml";

    var code = new Logic();
    var Lots = code.Code.GetLots();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title></title>
</head>
<body class="bg-dark">
    @if (Logic.CurrentUser.Role.Equals(Common.Role.Guest))
    {
        <section class="jumbotron text-center">
            <div class="container">
                <h1>Hello, @Logic.CurrentUser.Name</h1>
                <p class="lead text-muted">
                    Join
                </p>
                <p>
                    <a href="~/Pages/Autorisation/LogIn.cshtml" class="btn btn-info">log in</a>
                    <a href="~/Pages/Autorisation/NewUser.cshtml" class="btn btn-danger">Create new account</a>
                </p>
            </div>
        </section>
    }
    else
    {
        <div class="album py-5 bg-transparent">
            <div class="container">
                <div class="row">
                    @foreach (var item in Lots)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-lg">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     class="bd-placeholder-img card-img-top"
                                     width="=100%" height="1" role="img">
                                    <img src="@item.Product.Photos[0].Path"
                                         alt="@item.Product.Photos[0].Comment"
                                         style="width:100%; height:100%;" />
                                </svg>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center container">
                                        <p class="text-body">last price</p>
                                        <p class="text-success">@item.Price $</p>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-sm btn-outline-dark"
                                               href="~/Pages/Lot/View.cshtml?id=@item.Id">
                                                View
                                            </a>
                                            @if (Logic.CurrentUser.Role.Equals(Common.Role.Admin))
                                            {
                                                <button class="btn btn-sm btn-outline-info">Edit</button>
                                            }

                                            @if (Logic.CurrentUser.Role.Equals(Common.Role.Seller))
                                            {
                                                if (Logic.CurrentUser.Id.Equals(item.Seller.Id))
                                                {
                                                    <button class="btn btn-sm btn-outline-info">Edit</button>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-sm btn-outline-success">Bet</button>
                                                }
                                            }

                                            @if (Logic.CurrentUser.Role.Equals(Common.Role.Customer))
                                            {
                                                <button class="btn btn-sm btn-outline-success">Bet</button>
                                            }
                                        </div>

                                        <small class="text-muted">@Helper.GetCountdown(item.DateStart, item.DateEnd)</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    <div>

    </div>
</body>
</html>
