@using Entity;
@using Auction.Code;
@{
    Layout = "~/Pages/_Layout.cshtml";

    var code = new Logic();
    var Lots = code.Code.GetLots();
    var tag = Request["tag"];
    var tags = new List<Entity.Classes.Tag>();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title></title>
</head>
<body class="bg-dark">
    @if (Logic.CurrentUser.Role.Equals(Common.Role.Guest))
    {
        <section class="jumbotron text-center">
            <div class="container">
                <h1>Hello, @Logic.CurrentUser.Name</h1>
                <p class="lead text-muted">
                    Join
                </p>
                <p>
                    <a href="~/Pages/Autorisation/LogIn.cshtml" class="btn btn-info">log in</a>
                    <a href="~/Pages/Autorisation/NewUser.cshtml" class="btn btn-danger">Create new account</a>
                </p>
            </div>
        </section>
    }
    else
    {
        <div class="album py-5 bg-transparent">
            <div class="container">
                <div class="row">
                    @foreach (var item in Lots)
                    {
                        if (tag != null)
                        {
                            tags = code.Code.GetProductTags(item.Product.Id).ToList();
                        }
                        if (tag == null || tags.FirstOrDefault(x => x.Id.ToString() == tag) != null)
                        {

                            <div class="col-md-4">
                                <div class="card mb-4 shadow-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         class="bd-placeholder-img card-img-top"
                                         width="=100%" height="1" role="img">
                                        <img src="@item.Product.Photos[0].Path"
                                             alt="@item.Product.Photos[0].Comment"
                                             style="width:100%; height:100%;" />
                                    </svg>
                                    <div class="card-body container" style="margin:auto">
                                        <div>
                                            <div>
                                                @if (item.DateEnd < DateTime.Now)
                                                {
                                                    <small class="text-danger">@Helper.GetCountdown(DateTime.Now, item.DateEnd)</small>
                                                }
                                                else
                                                {
                                                    <small class="text-muted">@Helper.GetCountdown(DateTime.Now, item.DateEnd) to close</small>
                                                }
                                            </div>
                                            <div>
                                                <small>Last price: </small>
                                                <small class="text-success">@code.Code.GetMaxPriceOfLot(item.Id) $</small>
                                            </div>
                                        </div>
                                        <div class="btn-group d-flex justify-content-center">
                                            <a class="btn btn-sm btn-outline-dark" href="~/Pages/Lot/View.cshtml?id=@item.Id">
                                                View
                                            </a>
                                            @if (Logic.CurrentUser.Role.Equals(Common.Role.Admin) ||
                                                (Logic.CurrentUser.Role.Equals(Common.Role.Seller) &&
                                                Logic.CurrentUser.Id.Equals(item.Seller.Id)))
                                            {
                                                <button class="btn btn-sm btn-outline-info">Edit</button>
                                                <button class="btn btn-sm btn-outline-danger">Close</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
    <div>

    </div>
</body>
</html>
