@using Entity;
@using Entity.Classes;
@using Auction.Code;
@{
    Layout = null;

    var code = new Logic();
    var value = Request["id"];
    int.TryParse(value, out int id);
    var Lot = code.Code.GetLotById(id);

    var Tags = code.Code.GetTags().ToList();
    var LotTags = code.Code.GetProductTags(Lot.Id);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title></title>
</head>
<body class="bg-dark">
    <section class="jumbotron" style="max-width:500px; margin:auto; padding:20px 30px;">

        <form action="~/Pages/Lot/Logic/Edit.cshtml" method="post">
            <input type="text" name="EditType" value="tag" hidden />
            <input type="text" name="id" value="@value" hidden />

            <div class="border-bottom border-secondary mb-3">
                <div>
                    <label>Select tags:</label>
                    <div>
                        @foreach (var item in Tags)
                        {
                            <div class="form-check form-check-inline">
                                @if (LotTags.Where(x=>x.Id==item.Id).FirstOrDefault()!=null)
                                {
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox @item.Id" value="@item.Id" name="tag @item.Id" checked="checked">
                                }
                                else
                                {
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox @item.Id" value="@item.Id" name="tag @item.Id">
                                }
                                <label class="form-check-label" for="inlineCheckbox @item.Id">@item.Title</label>
                            </div>
                        }
                    </div>
                </div>
                <div>
                    <button class="btn bg-success"> save </button>
                </div>
            </div>
        </form>
    </section>

    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Code/Action.js"></script>
</body>
</html>
