@using Entity;
@using Entity.Classes;
@using Auction.Code;
@{
    Layout = null;

    var code = new Logic();
    var value = Request["id"];
    int.TryParse(value, out int id);
    var Lot = code.Code.GetLotById(id);

    var Status = Enum.GetValues(typeof(Enums.Status)).Cast<Enums.Status>().ToList();
    int j = 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title></title>
</head>
<body class="bg-dark">
    <section class="jumbotron" style="max-width:500px; margin:auto; padding:20px 30px;">

        <form action="~/Pages/Lot/Logic/Edit.cshtml" method="post">
            <input type="text" name="EditType" value="status" hidden />
            <input type="text" name="id" value="@value" hidden />

            <div class="border-bottom border-secondary mb-3">
                <div class="input-group mb-3">
                    <select class="custom-select" id="StatusSelect" name="status">
                        @for (int i = 0; i < Status.Count; i++)
                        {
                            j = i + 1;
                            if (j == (int)Lot.Product.Status)
                            {
                                <option value="@j" selected>@Status[i]</option>
                            }
                            else
                            {
                                <option value="@j">@Status[i]</option>
                            }
                        }
                    </select>
                </div>
                <div>
                    <button class="btn bg-success"> save </button>
                </div>
            </div>
        </form>

    </section>

    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Code/Action.js"></script>
</body>
</html>
