@using Entity;
@using Entity.Classes;
@using Auction.Code;
@{
    Layout = null;

    var code = new Logic();
    var value = Request["id"];
    int id = 0;
    var Lot = new Lot();

    if (value != null)
    {
        int.TryParse(value, out id);
        Lot = code.Code.GetLotById(id);
    }
    else
    {
        Entity.Helpers1.Logger.Log.Error("did't get lot's id for edit");
    }

    var Status = Enum.GetValues(typeof(Enums.Status)).Cast<Enums.Status>().ToList();
    var Tags = code.Code.GetTags().ToList();
    var LotTags = code.Code.GetProductTags(Lot.Product.Id);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title></title>
</head>
<body class="bg-dark">
    <section class="jumbotron" style="max-width:500px; margin:auto; padding:20px 30px;">
        <form action="~/Pages/Lot/Logic/Edit.cshtml" method="post">
            <div class="border-bottom border-secondary mb-3">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Title" name="title" value="@Lot.Product.Title">
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Company" name="company" value="@Lot.Product.Company">
                </div>
                <div class="input-group mb-3">
                    <select class="custom-select" id="StatusSelect" name="status">
                        @for (int i = 0; i < Status.Count; i++)
                        {
                            if (i == (int)Lot.Product.Status)
                            {
                                <option value="@i" selected>@Status[i]</option>
                            }
                            else
                            {
                                <option value="@i">@Status[i]</option>
                            }
                        }
                    </select>
                </div>
                <div>
                    <button class="btn bg-success"> save </button>
                </div>
            </div>
        </form>
        <div class="border-bottom border-secondary mb-3">
            <label>images:</label>
            <div class="bg-secondary d-flex flex-row" style="width:100%; height:130px;">
                @foreach (var item in Lot.Product.Photos)
                {
                    <div style="width:100px">
                        <img style="height:100px; width:auto;" src="@item.Path" alt="@item.Comment" />
                        <button class="btn btn-sm btn-danger" 
                                style="width:80px; margin-left:10px;" onclick="DeleteImage(@item.Id)">
                            X
                        </button>
                    </div>
                }
            </div>
            <form action="/" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="img" aria-label="img" aria-describedby="img" name="img">
                    <button >Add Image</button>
                </div>
            </form>
        </div>
        <form action="~/Pages/Lot/Logic/Edit.cshtml" method="post">
            <input type="text" name="EditType" value="1" hidden />
            <div class="border-bottom border-secondary mb-3">
                <div class="form-group input-group row d-flex justify-content-center mb-3">
                    <label for="inputDate" style="margin:7px auto">Select start date:</label>
                    <input type="date" class="form-control" name="start" value="@Lot.DateStart.ToString("dd.MM.yyyy")">
                </div>
                <div class="form-group input-group row d-flex justify-content-center mb-3">
                    <label for="inputDate" style="margin:7px auto">Select end date:</label>
                    <input type="date" class="form-control" name="end" value="@Lot.DateEnd">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Amount" name="price" value="@Lot.Price">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
                <div>
                    <label>Select tags:</label>
                    <div>
                        @foreach (var item in Tags)
                        {
                            <div class="form-check form-check-inline">
                                @if (LotTags.Contains(item))
                                {
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox @item.Id" value="@item.Id" name="tag @item.Id" checked ="checked">
                                }
                                else
                                {
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox @item.Id" value="@item.Id" name="tag @item.Id">
                                }
                                <label class="form-check-label" for="inlineCheckbox @item.Id">@item.Title</label>
                            </div>
                        }
                    </div>
                </div>            
                <div>
                    <button class="btn bg-success"> save </button>
                </div>
            </div>
        </form>
    </section>

    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Code/Action.js"></script>
</body>
</html>
