@using Auction.Code;
@using Entity;
@using Entity.Classes;
@{
    Layout = "~/Pages/_Layout.cshtml";

    var Bets = new List<Bet>();
    var tags = new List<Tag>();
    var code = new Auction.Code.Logic();
    Lot Lot = null;
    var LotId = Request["id"];
    if (LotId != null)
    {
        int.TryParse(LotId, out int id);
        Lot = code.Code.GetLotById(id);

        tags = code.Code.GetProductTags(id).ToList();
        Bets = code.Code.GetAllLotsBet(id).ToList();
        if (Bets.Count > 0)
        {
            Lot.Price = Bets.Max(x => x.Price);
        }
    }

    var addTag = Request["addTag"]=="y";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title></title>
</head>
<body class="bg-dark">
    @if (Lot != null)
    {
    <section class="jumbotron text-center" style="max-width:500px; margin:auto; padding:20px 30px;">
        <div style="padding:20px 30px;">
            <h5>@Lot.Product.Title.ToString()</h5>
            <h6>by @Lot.Product.Company.ToString()</h6>
        </div>

        <div class="container">
            <div id="carouselExampleControls" class="carousel slide text-center" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselButton" data-slide-to="0" onclick="SlideCarousel('0')" class="active"></li>
                    @if (Lot.Product.Photos.Count() > 1)
                    {
                        for (int i = 1; i < Lot.Product.Photos.Count; i++)
                        {
                            <li data-target="#carouselButton" data-slide-to="@i" onclick="SlideCarousel('@i')"></li>
                        }
                    }
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" style="max-height:300px; max-width:500px;">
                        <img class="d-block w-100"
                             style="max-height:300px; max-width:500px; width:auto; height:auto; object-fit: contain;"
                             src="@Lot.Product.Photos[0].Path"
                             alt="@Lot.Product.Photos[0].Comment">
                    </div>
                    @if (Lot.Product.Photos.Count() > 1)
                    {
                        foreach (var item in Lot.Product.Photos)
                        {
                            if (item.Id != Lot.Product.Photos[0].Id)
                            {
                                <div class="carousel-item">
                                    <img class="d-block w-100"
                                         style="max-height:300px; max-width:500px; width:auto; height:auto; object-fit: contain;"
                                         src="@item.Path"
                                         alt="@item.Comment">
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>

        <div class="container flex-row form-inline border-secondary border-bottom">
            @foreach (var item in tags)
            {
                <a href="~/Pages/Index.cshtml?tag=@item.Id" class="badge badge-info" style="margin:10px 5px;">@item.Title</a>
            }
            @if (Lot.DateEnd > DateTime.Now && Logic.CurrentUser.Role.Equals(Common.Role.Admin) || Logic.CurrentUser.Id == Lot.Seller.Id)
            {
                if (addTag)
                {
                <form action="/" method="post"
                      class="input-group input-group-sm mb-3 badge-warning btn-sm"
                      style="border-radius:50px">
                    <div class="input-group-prepend">
                        <span class="input-group-text badge-warning" id="inputGroup-sizing-sm">+</span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm">
                    <div class="input-group-append">
                        <button class="btn btn-warning btn-sm" type="button">Add</button>
                    </div>
                </form>
                }
                else
                {
                    <a href="~/Pages/Lot/View.cshtml?id=@LotId&addTag=y" class="badge badge-warning" style="margin:10px 5px;">+</a>
                }
            }
        </div>

            <div class="container text-left">
                <div class="border-dark">
                    <div class="flex-row form-inline">
                        <h6>Status:</h6>
                        <h6 class="text-dark" style="margin-left:10px">@Lot.Product.Status.ToString()</h6>
                    </div>
                    @if (Lot.DateEnd < DateTime.Now)
                    {
                        <div class="flex-row form-inline">
                            <h6>Auction is ended: </h6>
                            <h6 class="text-danger" style="margin-left:10px">@Lot.DateEnd.ToString("dd.MM.yyyy")</h6>
                        </div>
                    }
                    else
                    {
                        if (Lot.DateStart > DateTime.Now)
                        {
                            <div class="flex-row form-inline">
                                <h6>Auction will open: </h6>
                                <h6 class="text-info" style="margin-left:10px">@Lot.DateStart.ToString("dd.MM.yyyy")</h6>
                            </div>
                        }
                        else
                        {
                            <div class="flex-row form-inline">
                                <h6>Auction is open:</h6>
                                <h6 style="margin-left:10px">@Lot.DateStart.ToString("dd.MM.yyyy") - @Lot.DateEnd.ToString("dd.MM.yyyy")</h6>
                            </div>
                            <div class="flex-row form-inline">
                                <h6>Days left:</h6>
                                <h6 style="margin-left:10px">(@Helper.GetCountdown(DateTime.Now, Lot.DateEnd))</h6>
                            </div>
                        }
                    }
                    <div class="flex-row form-inline">
                        <h6>Last price:</h6>
                        <h6 style="margin-left:10px">@Lot.Price $</h6>
                    </div>
                </div>
            </div>

            @if (Bets.Count > 0)
            {
                <div class="flex-row form-inline border-secondary border-top" style="padding-top:5px;">
                    @foreach (var item in Bets)
                    {
                        <h6 class="text-success" style="margin-right:15px">
                            @item.Price $ <span class="badge badge-secondary">@item.Date.ToString("dd.MM.yyyy")</span>
                        </h6>
                    }
                </div>
            }

            @if (Lot.DateEnd > DateTime.Now && Lot.DateStart < DateTime.Now)
            {
                if (!Logic.CurrentUser.Role.Equals(Common.Role.Admin) && !Logic.CurrentUser.Role.Equals(Common.Role.Guest))
                {
                    if (Logic.CurrentUser.Id != Lot.Seller.Id)
                    {
                        <div class="border-secondary border-top align-content-center" style="padding-top:10px">
                            <form action="~/Pages/Bet/Add.cshtml?id=@LotId" method="post">
                                <div class="input-group" style="min-width:200px; max-width:300px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text badge-light">$</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="value" value="">
                                    <div class="input-group-append">
                                        <span class="input-group-text badge-light">.00</span>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="btn btn-success">Add bet</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    }
                }
            }
        </section>
    }
    else
    {
        <section class="jumbotron text-center">
            <div class="container">
                <h1>Error</h1>
                <p class="lead text-muted">
                    Lot is didn`t found.
                </p>
                <p>
                    <a href="~/Pages/Index.cshtml" class="btn btn-info">Back</a>
                </p>
            </div>
        </section>
    }

    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Code/Action.js"></script>
</body>
</html>
